<section class="container w-50">
  <form class="mt-5 p-5 container border rounded" [formGroup]="peopleForm" (submit)="onSubmit()">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" [class.is-invalid]="hasErrors(nombre)" formControlName="nombre" id="nombre">
      <div *ngIf="hasErrors(nombre)">
        <small class="text-danger d-block" *ngFor="let error of handleError(nombre.errors)">{{ error }}</small>
      </div>
    </div>
    <div class="mb-3">
      <label for="edad" class="form-label">Edad</label>
      <input type="number" class="form-control" [class.is-invalid]="hasErrors(edad)" formControlName="edad" id="edad">
      <div class="form-text">Debe ser mayor de edad</div>
      <div *ngIf="hasErrors(edad)">
        <small class="text-danger d-block" *ngFor="let error of handleError(edad.errors)">{{ error }}</small>
      </div>
    </div>
    <div class="mb-3">
      <label for="carrera" class="form-label">Carrera</label>
      <input type="text" class="form-control" [class.is-invalid]="hasErrors(carrera)" formControlName="carrera" id="carrera">
      <div *ngIf="hasErrors(carrera)">
        <small class="text-danger d-block" *ngFor="let error of handleError(carrera.errors)">{{ error }}</small>
      </div>
    </div>
    <div class="mb-3">
      <label for="hobbie" class="form-label">Hobbie</label>
      <input type="text" class="form-control" [class.is-invalid]="hasErrors(hobbie)" formControlName="hobbie" id="hobbie">
      <div *ngIf="hasErrors(hobbie)">
        <small class="text-danger d-block" *ngFor="let error of handleError(hobbie.errors)">{{ error }}</small>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <div *ngIf="!!formValue">{{ formValue | json }}</div>
</section>
